@font-face {
    font-family: Montserrat-Bold;
    src: url('../../assets/Monserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../assets/Monserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    src: url('../../assets/Monserrat/Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-Semi-Bold;
    src: url('../../assets/Monserrat/Montserrat-SemiBold.ttf');
}